body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
}
h1 {
	font-size: 40px;
	font-style: bold;
}
a {
	color: green;
}
p, li {
	line-height: 26pt
}
#wrapper {
  background-color: gray;
  padding: 20px;
  width: 960px;
  margin: 20px auto;
}
#navigation {
	text-align: center;
	height: 40px;
	width: 560px;
	margin: 20px auto;
}
#table1 {
	border: 1px black;
}
img#capoeira1 {
	border: 20px black;
}
img#cblogo2012 {
	float: right;
}