body {
  font-family: 'Droid Sans', arial;
  background-image: url(sandybeach.jpg) repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
#wrapper {
  width: 960px;
  margin: 20px auto;
}
#navigation {
	text-align: center;
	width: 560px;
	margin: 20px auto;
}